{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "02/01/2006"}} | {{.Title}}</a>
	    <span> 
	      {{ if .Params.tags }}
	        ::
	        {{ range .Params.tags }}
		  #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
	        {{ end }}
	        
	      {{ end }}
	    </span>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
