{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
