<a class="logo-text" href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
	<img src="{{ "amipo-logo.png" | absURL }}" alt="Logo de l’association Amipo">
	{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}Terminal{{ end }}

	{{ if $.Site.Params.logoTextEnv }}
	<span>{{ $.Site.Params.logoTextEnv }}</span>
	{{ end }}
</a>
