{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>

      {{ if .GitInfo }}
      <div class="last--update">
        <span>Modifié par {{ .GitInfo.AuthorName }} le {{ .GitInfo.AuthorDate.Format "02/01/2006" }}</span>
        <br/>
        <span title="Commentaire associé à la modification">«{{ $.GitInfo.Subject }}»</span>
      </div>
      {{ end }}

      <div>
        <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
        {{ range first 10 .Pages }}
            {{ .Render "summary"}}
        {{ end }}
      </div>
    </main>
{{ end }}
