body,
.header .menu__inner a {
  background: white;
  color: rgb(31, 34, 42);
}

:root {
  --accent: #63c431;
  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}

.header__logo {
  justify-content: center;
}

.header__logo::after {
  content: none;
  background: none;
}

.logo {
  background: transparent;
}

.logo-text {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.logo-text img {
  margin: 0 auto;
}

@media (max-width:683px) {

 .header {

 }

 .header .menu {
    background: white;
    border: 5px solid rgb(31, 34, 42);
 }

 .header .menu-trigger {
    height: inherit;
    align-self: flex-end;
    margin-bottom: 10px;
 }
}
 
.headings--one-size h1:not(first-child) {
  margin-top: 0px;
}

.content .post-meta {
  text-align: left;
}

.content .post-meta span {
  padding: 2px 5px;
  background-color: black;
  font-weight: bold;
}

.content .post {
  margin-top: 0px;
  padding-top: 0px;
}

.code-toolbar {
  border: 3px solid #63c431;
  background-color: black;
}

.code-toolbar code {
  color: white;
}

.last--update {
  margin: 70px 0;
  font-size: 90%;
  font-style: italic;
  text-align: right;
  color: black;
}

.last--update span {
  background: rgba(120, 226, 160, 0.2);
}

.pagination__title {
  margin: 20px auto;
}

.pagination__title-h {
  color: white;
}

.headings--one-size h1.post-title {
  font-size: 2.8rem;
  border: none;
  font-weight: 800;
}

.headings--one-size h2 {
  font-size: 2.6rem;
  border-bottom: 1px solid #ccc;
  font-weight: 800;
}

.headings--one-size h3 {
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
}

.headings--one-size h4 {
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: 800;
}

.headings--one-size h5 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: 400;
}

.headings--one-size h6 {
  font-size: 1.1rem;
  font-weight: 800;
}

.table-of-contents ul {
  margin-top: 0;
  margin-bottom: 0;
}
